@import "tailwindcss";

.nav-link {
    @apply text-gray-700 hover:text-indigo-600 transition font-medium;
}

.mobile-link {
    @apply block w-full text-gray-700 font-medium py-2 hover:text-indigo-600 transition;
}